OLD
JUNK
.hg
book/
temp/
models/
build/
.pynative
*.pyc
*~
*.h5
*.o
*.os
*.a
*.so
/Debug/
/Release/
/.project
/.pydevproject
/.sconsign.dblite
/libs/
/.cproject
/clstm_wrap.cc
/clstm_wrap.cpp
/clstmfilter
/clstm.pb.cc
/clstm.pb.h
/nvcc.log
